<div class="side-header">
  
  <div class="user_name">
   <%= link_to current_user.name, edit_user_path(current_user)%>
  </div>

  <div class="new_chat">
   <a href=""> チャットを作成する</a>
  </div>
</div>

<div class="side-main">

 <div class="chat_room"> 

   <div class="chat_room_name">
    <a href="">techroom1</a> 
   </div>
 </div>

 <div class="chat_room">
  <div class="chat_room_name"> 
   <a href="">techroom2</a>
  </div>
 </div>
</div>
