.wrapper{
  display:flex;

}

.side_left {
 background-color: #253141;
 width: 300px;
 height:100vh;

 
}

.main_center {
  background-color: #ffffff;
  width: calc(100vw - 300px);
  height: 100vh;
}

.main_header {
  background-color: #FFFFFF;
  height:100px;
  padding:0 40px;
  
  display:flex;
  justify-content: space-between;
  
}

.m_chat_name {
  color:#333;
  font-size: 24px;
  margin-top:36px;
}

.m_chat_end {
  margin-top:40px;
}

.m_chat_end a {
  color: darkred;
  border:1px solid darkred;
  padding:20px;
  text-decoration: none;
}

.main_main {
  background-color: #FAFAFA;
  height:calc(100vh - 100px - 90px);
  padding:46px 40px 0;
  overflow: scroll;
}

.main_main::-webkit-scrollbar {
  display:none;
}

.message_top {
  display: flex;
  margin-top:10px;
}

.massage_name {
  font-size: 16px;
  color: #434A54;
}

.message_date {
  font-size: 12px;
  color: #999;

  margin-left:10px;
}

.message_bottom {
  margin-top:10px;
}
 
.message_main {
  font-size: 14px;
  color: #434A54;

  margin-bottom:40px;
}

.main_footer {
  background-color: #DDDDDD;
  height:90px;
  padding:20px 40px;
  display:flex;
}

.form-input {
  background-color: white;
  display: flex;
  width: 100%;
}

.form-message {
  border: none;
  height: 50px;
  width: 100%;
  padding-left: 10px;
}

.form-submit {
  background-color: #38AEF0;
  border: none;
  color: white;
  font-size: 16px;
  height: 50px;
  margin-left: 15px;
  padding: 0 20px;
}

.form-image {
  font-size: 12px;
  background-color: lightblue;
  color: white;
  padding: 12px;
  width: 60px;
  margin: 5px 10px;
  text-align: center;
}

.hidden {
  display: none;
}

.side-header{
  height:100px;
  padding:0 20px;
  background-color: #253141;

  display:flex;
  justify-content: space-between;
  align-items: center;
}

.side-main {
  background-color: #2F3E51;
  height: calc(100vh - 100px);
  padding:0 20px;
  overflow: scroll;
  
  
}

.side-main::-webkit-scrollbar {
  display:none;
 }

.user_name a{
  color: #FAFAFA;
  font-size: 16px;
  text-decoration: none;
}

.new_chat a{
  color:  deepskyblue;
  font-size: 10px;
  border:solid 1px lightblue;
  padding:14px;
  text-decoration: none;
}
.chat_room {
  padding:20px 0 40px;
}


.chat_room_name a {
  color: white;
  text-decoration: none;
  
  
}
